{% extends "readerCenter/pers_base_ver1.html" %}
{% load static %}

    {%block perscontent%}
    <!--个人中心网页的核心内容可替换组件-->
<style>
input#keyword {
    padding: 16px;
    border-radius: 5px;
    position:center;
}

.bootstrap-admin-no-table-panel,
.bootstrap-admin-no-table-panel-content{
    float: left;
    width: 100%;
}

</style>

    <div id="content-wrapper">

        <div class="container-fluid">

        <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"></li>
                <li class="breadcrumb-item active">我的资源</li>
            </ol>
            <div class="col-lg-12">
                        <div class="panel panel-default bootstrap-admin-no-table-panel">
                            <div class="panel-heading">
                              
                                <div class="text-muted bootstrap-admin-box-title">查询</div>
                            </div>
                            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                                <form class="form-horizontal" action="{%url 'readerCenter:mylib_search'%}" method="GET">
                        			<div class="col-lg-7 form-group">
                                        <label class="col-lg-4 control-label" >图书查询</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="keyword" name="keyword" placeholder="关键词：书名/作者名称/图书分类" type="text">
                                            <label class="control-label" style="display: none;"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">

                                        <button type="submit" class="btn btn-primary" id="btn_query" onclick="">查询</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            {% if state %}
            <div class="col-md-2 col-lg-10">
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {% if state == 'repeat_add' %}
                        <h2>您已添加过此书籍！</h2>
                    {% endif %}
                    {% if state == 'delete_from_mylib_success' %}
                        <h2><a href="{%url 'readerCenter:mylib'%}"> 您已成功删除！点击刷新~</a></h2>
                    {% endif %}
                    {% if state == 'delete_from_mylib_fail' %}
                        <h2>删除失败！您的图书馆中不存在此书籍！</h2>
                    {% endif %}
                    {% if state == 'add_to_mylib_success' %}
                        {%if message == 'back_to_search_searchBook'%}
                            <h2><a href="{%url 'search:searchBook'%}"> 添加成功！点击返回检索页面</a></h2>
                        {%else%}
                        <h2> 添加成功！</h2>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
    {% endif %}
        <!--我的书架封面展示页-->
        <div class="col-lg-12">
            <div class="row">
              {%for book in mylib_list%}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="{% url 'search:bookDetail' book.ISBN.ISBN %}"><img class="card-img-top" src="/media/bookcover/{{book.ISBN.cover}}" alt="{{book.ISBN.title}}封面"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{% url 'search:bookDetail' book.ISBN.ISBN %}">{{book.ISBN.title}}</a>
                    </h4>
                    <h5>{{book.ISBN.author }}</h5>
                    <!--<p class="card-text">{{book.ISBN.description}}</p> -->
                  </div>
                  <div class="card-footer">
                      <small class="text-muted"><a href="{% url 'readerCenter:mylib_del' book.ISBN.ISBN %}">删除书籍</a></small>
                  </div>
                </div>
              </div>
              {%endfor%}

            </div>
          <!--我的书架封面展示页结束-->
            

        </div>


    </div>
      <!-- /.container-fluid -->
     
      <!-- Sticky Footer -->
      <!--<footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © 五朵金花 2019</span>
          </div>
        </div>
      </footer>-->

    </div>
    <!-- /.content-wrapper -->
     {%endblock perscontent%}

 

