{% extends "readerCenter/pers_base.html" %}
{% load static %}
    {%block perscontent%}
    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{%url 'readerCenter:notice'%}"></a>
          </li>
          <li class="breadcrumb-item active">消息通知</li>
        </ol>


          <!--此处显示每周一书的推荐界面-->
               <div class="card mb-3">
                    <div class="card-header">
                        <i>借阅催还提醒</i>
                    </div>

                    <div class="card-body">
                         <div class="col-md-12">
                             <h3 align="center">借阅催还提醒</h3>
                             <p>亲爱的读者{{borrowing.reader.name}}你好！</p>
                             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您于{{borrowing.date_issued}}日借阅的图书{{borrowing.ISBN.title }}即将超期，借阅书籍详情见下。
                                 请您尽快携带书籍到本图书馆一楼服务大厅进行归还~超期不还将计时扣款！</p>
                             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;借还流程见<a href="#">借还须知</a>，如有其他疑问，可见<a href="#">读者服务</a></p>
                             <p align="right">xx数字图书馆</p>
                         </div>
                        <div class="col-md-5">
                           <div class="img-rounded">
                              <img src="/media/{{ borrowing.ISBN.cover }}" alt="{{ borrowing.ISBN.title }}">
                            </div>
                            <br><br><br>
                        </div>

                        <div class="col-md-6 col-md-offset-1">
                            <h2 class="text-center"><a href="#">
                                {{ borrowing.ISBN.title }}</a></h2>
                            <br>
                            <h4>书名：{{ borrowing.ISBN.title }}</h4>
                            <h4>ISBN：{{ borrowing.ISBN.ISBN }}</h4>
                            <h4>作者：{{ borrowing.ISBN.author }}</h4>
                            <h4>出版社:{{ borrowing.ISBN.press }}</h4>
                            <h4>类别：{{ borrowing.ISBN.category }}</h4>
                            <h4>价格：{{ borrowing.ISBN.price|floatformat:2 }}</h4>
                            <h4>位置:{{ borrowing.ISBN.bookID.location }}</h4>
                            <hr>
                            <hr>
                        </div>
                        
                    </div>
                    <div class="card-footer small text-muted">通知时间{{notice.pubDate}}</div>
                </div>
      </div>

    </div>
    <!-- /.content-wrapper -->
    {%endblock perscontent%}


  <!-- /#wrapper -->
    