{% extends "readerCenter/pers_base.html" %}
{% load static %}
    {%block perscontent%}
    <div id="content-wrapper">

      <div class="container-fluid">
    
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{%url 'readerCenter:notice'%}"></a>
          </li>
          <li class="breadcrumb-item active">消息通知</li>
        </ol>

        <!-- DataTables Example --><!--每周一书的读者定向推荐-->
        <div class="card mb-3">
            <div class="card-header">
                <i></i>
                本周书籍推荐</div>
            <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="newnotice" width="100%" cellspacing="0">
                            {% for wbook in book_week %}
                            <tr class="{% cycle notice.tittle notice.pubDate %}">
                                 <td><i class="fas fa-bell fa-fw"></i><a href="/shownotice/detail?recBookID={{wbook.pk}}">叮咚~亲爱的{{reader.name}},本周新荐图书《{{wbook.bookName}}》已新鲜出炉，快来看看叭~ </a><p class="small text-muted" align="right">{{wbook.recTime}}</p></td>
                            </tr>
                            {% endfor %}

                            <tr>

                            </tr>
                        </table>
                              
                    </div>
            </div>
            <div class="card-footer small text-muted">数据更新于{{nowtime}}</div>
          </div>
        <!--读者的借阅催还提醒-->
        {% if state_over and state_to_return%}
        <div class="card mb-3">
          <div class="card-header">读者借阅还书提醒</div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="histnotice" width="100%" cellspacing="0">
                      {%if state_over%}
                            <tr>
                                <!--现在没有提供记录历史超期消息的功能，因为没有数据库存这个历史记录，不好提取-->
                                <td><i class="fas fa-bell fa-fw"></i><a href="/shownotice/detail?aticleID={{ borrowingBook.pk }}">图书催还与缴纳欠款提醒</a><p class="small text-muted" align="right"></p></td>
                            </tr>
                      {%endif%}
                      {%if state_to_return%}
                            <tr>
                                <!--现在没有提供记录历史催还消息的功能，因为没有数据库存这个历史记录，不好提取-->
                                <td><i class="fas fa-bell fa-fw"></i><a href="/shownotice/detail?aticleID={{ borrowingBook.pk }}">{{book_to_return}}等书即将超期~</a><p class="small text-muted" align="right"></p></td>
                            </tr>
                      {%endif%}
                  </table>
                              
              </div>
          </div>
          
          <div class="card-footer small text-muted">数据更新于{{nowtime}}</div>
        </div>{%endif%}

      </div>

    </div>
    <!-- /.content-wrapper -->
    {%endblock perscontent%}

  </div>
  
  <!-- /#wrapper -->
    