{% extends "readerCenter/pers_base_ver1.html" %}
{% load static %}
{% load staticfiles %}

 {%block perscontent%}
<div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{%url 'readerCenter:borrowingSituation'%}"></a>
          </li>
          <li class="breadcrumb-item active"><a href="{%url 'readerCenter:borrowingSituation'%}">用户常用服务快捷入口</a></li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            快捷入口表</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>服务名称快捷入口</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="{%url 'participate:article_create'%}">读者论坛发帖</a></td>
                  </tr>
                  <tr>
                    <td><a href="{%url 'search:searchHigh'%}">高级检索</a></td>
                  </tr>
                  <tr>
                    <td><a href="{%url 'search:searchHelp'%}">检索帮助</a></td>
                  </tr>
                  <tr>
                    <td><a href="{%url 'readerCenter:showsearchlist'%}">已保存检索结果</a></td>
                  </tr>
                  <tr>
                    <td><a href="{%url 'infoCenter:recBookList'%}">每周一书推荐</a></td>
                  </tr>
                  

               </tbody>
              </table>
            </div>

          </div>
          <div class="card-footer small text-muted">数据更新于{% now "Y-m-d" %}</div>
        </div>

      </div>
      

    </div>
{%endblock perscontent%}