{% extends "readerCenter/pers_base_ver1.html" %}
{% load static %}
    
    {%block perscontent%}
<style>
  
</style>
    <div id="content-wrapper">

      <div class="container-fluid">
    
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{%url 'readerCenter:borrowingSituation'%}"></a>
          </li>
          <li class="breadcrumb-item active"><a href="{%url 'readerCenter:borrowingSituation'%}">历史借阅</a></li>
        </ol>

        <!-- Icon Cards-->
       
        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-history">我的流通情况</i>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table"  width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>条目</th>
                    <th>情况</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>外借：</td>
                    <td>{{counterBorrowing}}本</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>借阅历史列表：</td>
                    <td>{{counterBorrowHis}}本 &nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                      <td><button class="btn btn-primary"
                                onclick="location.href='/readerCenter/borrowHis/?action=borrowhis';">
                          详情
                        </button>
                    </td>

                  </tr>
                  <tr>
                    <td>现金事务：</td>
                    <td>{{moneyTotal|stringformat:".2f"}}元 &nbsp;&nbsp;&nbsp;&nbsp;
                    </td><td><button class="btn btn-primary"
                                onclick="location.href='/readerCenter/moneyTask/?action=moneyTask';">
                          详情
                        </button>
                    </td>
                  </tr>
                  <tr>
                    <td>过期外借欠款：</td>
                    <td>{{fineTotal}}元 &nbsp;&nbsp;
                    </td><td>
                      {%if fineTotal <= 0.0 %}
                        <button class="btn btn-warning disabled" >缴款</button>
                      {%else%}
                        <button class="btn btn-warning"
                                onclick="location.href='/readerCenter/operatebook/?action=pay_fine&id={{ book.id }}';">
                          缴款
                        </button>
                      {%endif%}</td>
                  </tr>
               </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">数据更新于 {% now "Y-m-d" %}</div>
        </div>

        

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-shopping-basket"></i>
            正在借阅列表</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table " id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>书号</th>
                    <th>目录</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>借阅时间</th>
                    <th>应还日期</th>
                    <th>操作</th>
                   
                  </tr>
                </thead>
                <tbody>
                  {% for book in borrowing %}
                  <tr class="{% cycle book.ISBN book.ISBN.category book.ISBN.title book.date_issued book.date_due_to_returned book.date_returned%}">
                    <td>{{book.ISBN.ISBN}}</td>
                    <td>{{book.ISBN.category}}</td>
                    <td>{{book.ISBN.title}}</td>
                    <td>{{book.ISBN.author}}</td>
                    <td>{{book.date_issued}}</td>
                    <td>{{book.date_due_to_returned}}</td>
                    <td>
                      <button class="btn btn-success"
                              onclick="location.href='/readerCenter/operatebook/?action=renew_book&id={{ book.id }}';">续借
                      </button>
                      <button class="btn btn-primary"
                              onclick="location.href='/readerCenter/operatebook/?action=return_book&id={{ book.id }}';">
                        还书
                      </button>

                    </td>
                  </tr>
                  {% endfor %}
               </tbody>
              </table>
            </div>
  
          </div>
          <div class="card-footer small text-muted">数据更新于 {% now "Y-m-d" %}</div>
        </div>

      </div>
    </div>
    {%endblock perscontent%}

 
