{% extends "readerCenter/pers_base_ver1.html" %}
{% load static %}
    {%block perscontent%}
    <div id="content-wrapper">

      <div class="container-fluid">
    
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{%url 'readerCenter:notice'%}"></a>
          </li>
          <li class="breadcrumb-item active">消息通知</li>
        </ol>

        

        <div class="card mb-3">
          <div class="card-header fas fa-bell ">读者借阅还书提醒</div>
          <div class="card-body">
              <div class="table-responsive">
                  {% if book_over%}
                  <table class="table table-bordered" id="histnotice" width="100%" cellspacing="0">
                      {%for book in book_over%}
                            <tr>
                                <td><i class="fas fa-bell fa-fw"></i><a href="/readerCenter/shownotice/?notiType=borrowing&noticeID={{ book.pk }}#hint">{{book.ISBN.title}}借阅催还提醒</a><p class="small text-muted" align="right"></p></td>
                            </tr>
                      {%endfor%}
                      
                  </table>  {%endif%}
                              
              </div>
          </div>
          
          <div class="card-footer small text-muted">数据更新于{% now "Y-m-d" %}</div>
        </div>

      </div>

    </div>
    <!-- /.content-wrapper -->
    {%endblock perscontent%}

  </div>
  
  <!-- /#wrapper -->
    