{% extends 'login/base.html' %}

{% block title %} 欢迎来到图书馆！ {% endblock %}


{% block content %}
     <div class="container col-md-12">
        <br>
        <h1 align="center">当前检索结果列表</h1>
         <a class="btn btn-warning" onclick="searchhis_multi_Del()">批量移除</a>
        <table class="table table-hover">
            <thead>

            <th><input type="checkbox" class="i-checks" id="allChecks" onclick="ckAll()" />全选/全不选</th>
            <th>添加时间</th>
            <th>序号</th>

            <th>封面</th>
            <th>标题</th>
            <th>作者</th>
            <th>分类</th>
            <th>在馆位置</th>
            <th>在馆数量</th>
            <th>操作</th>

            </thead>
        
            <tbody>
            {% for book in pbooks %}
                <tr>
                     <td><input type="checkbox" class="i-checks" name="input[]" value="{{book.id}}"></td>
                    <td>{{book.search_date}}</td>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="/search/bookDetail/{{  book.ISBN.ISBN }}">
                            <img class="img-responsive"
                                 src="/media/bookcover/{{ book.ISBN.cover }}"
                                 width="90"
                                 height="128"
                                 alt="{{ book.ISBN.title }}">
                        </a>
                    </td>
                    <td><a href="/search/bookDetail/{{  book.ISBN.ISBN }}">{{ book.ISBN.title }}</a></td>
                    <td>{{ book.ISBN.author }}
                    <td>{{ book.ISBN.category }}</td>
                    <td>{{ book.ISBN.location }}</td>
                    <td>{{ book.ISBN.quantity }}</td>
                    <td>
                        <a class="btn btn-primary" href="/search/bookDetail/{{book.ISBN.ISBN}}">详情</a>
                        <a class="btn btn-danger" href="{% url 'readerCenter:mysearchhis_del' book.ISBN.ISBN %}">移除</a>
                    </td>

                </tr>
            {% empty %}
                <tr>
                    <td>暂无图书</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
       <!--查询历史的翻页功能有待开发！-->
          <nav class="myContainer">
            <ul class="pager">
                {% if pbooks.has_previous %}
                    <li class="previous"><a
                            href="{{ current_path }}?page={{ pbooks.previous_page_number }}#hint">上一页</a>
                    </li>
                {% else %}
                    <li class="previous disabled"><a href="#">上一页</a></li>
                {% endif %}
                第 {{ pbooks.number }} / {{ pbooks.paginator.num_pages }}页
                {% if pbooks.has_next %}
                    <li class="next"><a
                            href="{{ current_path }}?page={{ pbooks.next_page_number }}#hint">下一页</a>
                    </li>
                {% else %}
                    <li class="next disabled"><a href="#">下一页</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
