{% extends "infoCenter/infoCenter_Base.html" %}

{% block title %}新闻公告{% endblock title %}

{% block module %}新闻公告{% endblock module %}

{% block search %}
<div class="span4">
    <div class="input-append">
        <form method="get" id="searchform" action="{% url 'infoCenter:newsSearch' %}" class="form-search">
            {% csrf_token %}
            <input type="search" name="q" placeholder="搜索新闻" class="input-medium search-query">
            <button type="submit" class="btn btn-inverse">搜索新闻</button>
        </form>
    </div>
</div>
{% endblock search %}

{% block location %}信息中心>>新闻公告>>搜索结果{% endblock location %}

{% block pagecontent %}
<section id="maincontent">
    <div class="container">

        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}

    <div class="row">
        <div class="span12">
            {% for post in post_list %}
                <article class="blog-post">
                    <div class="tooltip-demo headline">
                        <h4><a onclick="location.href='/infoCenter/newsDetail/?pk={{post.pk}}&newsSlug={{post.newsSlug}}';">{{ post.newsTitle }}</a></h4>
                    </div>
                    <div class="clearfix"></div>
                    <img src="assets/img/dummies/blog1.jpg" alt="" />
                    <ul class="post-meta">
                        <li class="first"><i class="icon-user"></i> <span><a href="#">{{ post.newsAuthor }}</a></span></li>
                        <li><i class="icon-list-alt"></i> <span><a href="#">{{ post.newsPubdate }}</a></span></li>
                        <li class="last"><i class="icon-tags"></i> <span><a href="#">{{ post.newsColumn }}</a></span></li>
                    </ul>
                </article>
                {% empty %}
                <section id="maincontent">
                    <div class="container">
                      <div class="row">
                        <div class="span12">
                          <div class="error-wrapper">
                            <div class="error-body">
                              <h1 class="hidden-phone">404</h1>
                              <h3>对不起，没有您要查找的新闻</h3>
                              <p>
                                换个关键词再试试吧！
                              </p>
                            </div>
                            <div class="error-footer">
                              <a href="{% url 'infoCenter:newsIntro' %}" class="btn btn-inverse marginleft20">返回新闻公告首页</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            {% endfor %}
        </div>
    </div>
    </div>
</section>

  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">

      </div>
    </div>

    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy;五朵金花</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

{% endblock pagecontent %}