{% extends "infoCenter/infoCenter_Base.html" %}

 {% load static %}
 {% load staticfiles %}

{% block title %}新闻公告{% endblock title %}

{% block module %}新闻公告{% endblock module %}

{% block search %}
<div class="span4">
    <div class="input-append">
        <form method="get" id="searchform" action="{% url 'infoCenter:newsSearch' %}" class="form-search">
            {% csrf_token %}
            <input type="search" name="q" placeholder="搜索新闻" class="input-medium search-query">
            <button type="submit" class="btn btn-inverse">搜索新闻</button>
        </form>
    </div>
</div>
{% endblock search %}

{% block location %}信息中心>>新闻公告{% endblock location %}

{% block pagecontent %}
<!--栏目简介-->
<section id="maincontent">
    <div class="container">
      <h3>栏目简介</h3>
      <div class="row">
        <div class="span4">
          <aside>
            {% for column in news_intro_columns %}
            <div class="widget">
              <h4 class="heading-success"><a href="{% url 'infoCenter:newsColumn' column.columnSlug %}"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span></a>&nbsp;&nbsp;{{ column.columnName }}</h4>
              <h5>{{ column.abstract }}</h5>
              <p><a href="{% url 'infoCenter:newsColumn' column.columnSlug %}">&nbsp;&nbsp;&nbsp;&nbsp;点击查看更多...</a></p>
            </div>
            {% endfor %}
          </aside>
        </div>

        <div class="span8">
          <!-- start article 1 -->
          {% for news in articles %}
          <article class="blog-post">
            <div class="tooltip-demo headline">
              <h4><a onclick="location.href='/infoCenter/newsDetail/?pk={{news.pk}}&newsSlug={{news.newsSlug}}';">
                  {% if news.topDisplay %}
                    <b><button class="btn btn btn-success" type="button" >置顶</button>    {{ news.newsTitle }}</b>
                  {% else %}
                    {{ news.newsTitle }}
                  {% endif %}
              </a></h4>
              <span class="comment">浏览量：{{ news.newsViews }}</span>
            </div>

            <div class="row">
              <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i> <span>{{ news.newsAuthor }}</span></li>
                  <li><i class="icon-list-alt"></i> <span>{{ news.newsPubdate }}</span></li>
                  <li class="last"><i class="icon-tags"></i> <span>{{ news.newsColumn }}</span></li>
                </ul>
                <div class="clearfix">
                </div>
              </div>
            </div>
          </article>
          {% endfor %}

        <div class="pagination" align="center" >
          <nav>
            <ul>
              <li>
                {% if articles.has_previous %}
                    <a href="?page={{ articles.previous_page_number }}">上一页</a>
                {% endif %}

                <span>{{ articles.number }}/{{ articles.paginator.num_pages }}</span>

                {% if articles.has_next %}
                   <a class='active' href="?page={{ articles.next_page_number }}">下一页</a>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
        </div>
      </div>
    </div>
</section>


  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">

      </div>
    </div>

    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy;五朵金花</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

{% endblock pagecontent %}