{% extends "infoCenter/infoCenter_Base.html" %}

{% block title %}新闻公告{% endblock title %}

{% block module %}新闻公告{% endblock module %}

{% block search %}
<div class="span4">
    <div class="input-append">
        <form method="get" id="searchform" action="{% url 'infoCenter:newsSearch' %}" class="form-search">
            {% csrf_token %}
            <input type="search" name="q" placeholder="搜索新闻" class="input-medium search-query">
            <button type="submit" class="btn btn-inverse">搜索新闻</button>
        </form>
    </div>
</div>
{% endblock search %}

{% block location %}信息中心>>新闻公告>>{{ news_article.newsColumn }}>>新闻详情{% endblock location %}

{% block pagecontent %}
<!--栏目简介-->
<section id="maincontent">
    <div class="container">
      <h3>当前栏目</h3>
      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <h4 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;{{ news_article.newsColumn }}</h4>
              <img src="assets/img/avatar.png" class="alignleft" alt="" />
              <h5>{{ news_article.newsColumn.abstract }}</h5>
              {% for item in current_column_news %}
                <p><a onclick="location.href='/infoCenter/newsDetail/?pk={{item.pk}}&newsSlug={{item.newsSlug}}';">&nbsp;&nbsp;&nbsp;&nbsp;{{ item.newsTitle }}</a></p>
              {% endfor %}
               <p><a href="{% url 'infoCenter:newsColumn' news_article.newsColumn.columnSlug %}">&nbsp;&nbsp;&nbsp;&nbsp;查看更多...</a></p>
            </div>
          </aside>
        </div>

        <div class="span8">
            <article class="blog-post">
                <div class="tooltip-demo headline">
                    <h4>{{ news_article.newsTitle }}</h4>
                    <span class="comment"><a href="#" data-rel="tooltip" data-placement="top" title="4 Comments">4 comments</a></span>
                </div>
                <div class="clearfix"></div>
                <img src="assets/img/dummies/blog1.jpg" alt="" />
                <ul class="post-meta">
                    <li class="first"><i class="icon-user"></i> <span><a href="#">{{ news_article.newsAuthor }}</a></span></li>
                    <li><i class="icon-list-alt"></i> <span><a href="#">{{ news_article.newsPubdate }}</a></span></li>
                    <li class="last"><i class="icon-tags"></i> <span><a href="#">{{ news_article.newsColumn }}</a></span></li>
                </ul>
                <div class="clearfix"></div>
                <p>{{ news_article.newsContent|safe }}</p>
          </article>

          <div>
            <nav aria-label="...">
                <ul class="pager">
                 <li><a onclick="location.href='/infoCenter/newsDetail/?pk={{previous_article.pk}}&newsSlug={{previous_article.newsSlug}}';">上一篇：{{ previous_article.newsTitle }}</a></li>
                 <li><a onclick="location.href='/infoCenter/newsDetail/?pk={{next_article.pk}}&newsSlug={{next_article.newsSlug}}';">下一篇：{{ next_article.newsTitle }}</a></li>
                </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
</section>

  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">

      </div>
    </div>

    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy;五朵金花</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

{% endblock pagecontent %}