{% extends "infoCenter/newsBase.html" %}

{% block title %}信息中心{% endblock title %}

{% block sideNews %}
<div class="dropdown-menu" aria-labelledby="pagesDropdown">
    {% for column in news_intro_columns %}
    <a class="dropdown-item" href="{{ column.get_absolute_url }}">{{ column.columnName }}</a>
    {% endfor %}
</div>
{% endblock sideNews %}

{% block breadrums %}
<div class="container-fluid">
    <h3 class="my-4">本周推荐：《{{ now_recbook.bookName }}》</h3>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'recBookList'%}">每周一书</a>
        </li>
        <li class="breadcrumb-item active">{{ now_recbook.recTime }}推荐</li>
    </ol>
</div>
{% endblock breadrums %}

{% block pagecontent %}
<hr>
    <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    {{ now_recbook.recTime }}
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                                  <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                      <img class="d-block img-fluid" src="/media/bookcover/{{ now_recbook.ISBN.cover }}" alt="{{ now_recbook.ISBN.title }}">
                                    </div>
                                  </div>
                                </div>
                            </td>

                            <td>
                                <p>
                                    <h3>{{ now_recbook.ISBN.title }}</h3>
                                    ISBN：{{ now_recbook.ISBN.ISBN }}<br/>
                                    作者：{{ now_recbook.ISBN.author }}<br/>
                                    译者：{{ now_recbook.ISBN.bookTranslator }}<br/>
                                    出版社：{{ now_recbook.ISBN.press }}<br/>
                                    类别：{{ now_recbook.ISBN.category }}<br/>
                                    价格：{{ now_recbook.ISBN.price }}<br/>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p><b>内容简介：</b>{{ now_recbook.ISBN.description }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    推荐人：{{ now_recbook.promugator }}
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td colspan="3">
                                <p><b>推荐语：</b></p>
                                <p>{{ now_recbook.Rec_comment | safe }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>

      <div class="col-lg-9">
        <br/><br/><hr/>
        <h3 class="my-4" align="center" >全部推荐</h3>
        <div class="container-fluid">
            {% for books in past_recbooks %}
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        {{ books.recTime }}
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            <a href="{{ books.get_absolute_url }}">《{{ books.bookName }}》</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
{% endblock pagecontent %}
