{% extends "infoCenter/infoCenter_Base.html" %}

{% block title %}每周一书{% endblock title %}

{% block module %}每周一书{% endblock module %}

{% block search %}
<div class="span4">
    <div class="input-append">
        <form method="get" id="searchform" action="{% url 'newsSearch' %}" class="form-search">
            {% csrf_token %}
            <input type="search" name="q" placeholder="搜索新闻" class="input-medium search-query">
            <button type="submit" class="btn btn-inverse">搜索新闻</button>
        </form>
    </div>
</div>
{% endblock search %}

{% block location %}信息中心>>每周一书>>本周推荐{% endblock location %}

{% block pagecontent %}
<section id="maincontent">
    <div class="container">
      <div class="row">
        <h3 class="my-4" align = 'center'>本周推荐：《{{ now_recbook.bookName }}》</h3><br/>
        <div class="span4">
                <img src="/media/bookcover/{{ now_recbook.ISBN.cover }}" alt="{{ now_recbook.ISBN.title }}" />
        </div>

        <div class="span8">
          <h4>{{ now_recbook.ISBN.title }}</h4>
          <p><b>ISBN：</b>{{ now_recbook.ISBN.ISBN }}</p>
          <p><b>作者：</b>{{ now_recbook.ISBN.author }}</p>
          <p><b>译者：</b>{{ now_recbook.ISBN.bookTranslator }}</p>
          <p><b>出版社：</b>{{ now_recbook.ISBN.press }}</p>
          <p><b>类别：</b>{{ now_recbook.ISBN.category }}</p>
          <p><b>价格：</b>{{ now_recbook.ISBN.price }}</p>
          <blockquote>
            <p>
              <p><b>内容简介：</b>{{ now_recbook.ISBN.description }}</p>
            </p>
          </blockquote>
        </div>
        <div class="row">
        <div class="span12">
          <div class="divider">
              <h4><b>推荐语：</b></h4>
              <p>{{ now_recbook.Rec_comment | safe }}</p><br/>
          </div>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="span16">
          <div class="divider"></div>
        </div>
      </div>



    </div>
  </section>



      <div class="col-lg-9">
        <br/><br/><hr/>
        <h3 class="my-4" align="center" >全部推荐</h3>
        <div class="container-fluid">
            {% for books in past_recbooks %}
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        {{ books.recTime }}
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            <a href="{{ books.get_absolute_url }}">《{{ books.bookName }}》</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
{% endblock pagecontent %}
