{% extends "infoCenter/infoCenter_Base.html" %}

{% block title %}每周一书{% endblock title %}

{% block module %}每周一书{% endblock module %}

{% block search %}
<div class="span4">
    <div class="input-append">
        <form method="get" id="searchform" action="{% url 'infoCenter:newsSearch' %}" class="form-search">
            {% csrf_token %}
            <input type="search" name="q" placeholder="搜索新闻" class="input-medium search-query">
            <button type="submit" class="btn btn-inverse">搜索新闻</button>
        </form>
    </div>
</div>
{% endblock search %}

{% block location %}信息中心>>每周一书>>本周推荐{% endblock location %}

{% block pagecontent %}
<section id="maincontent">
    <div class="container">
      <div class="row">

        <h3 class="my-4" align = 'center'><b>本周推荐：《{{ now_recbook.bookName }}》</b></h3><br/>
        <div class="span4">
            <img width="350" height="1600" src="/media/bookcover/{{ now_recbook.ISBN.cover }}" alt="{{ now_recbook.ISBN.title }}" />
        </div>

        <div class="span8">
          <h4>{{ now_recbook.ISBN.title }}</h4>
          <p><b>ISBN：</b>{{ now_recbook.ISBN.ISBN }}</p>
          <p><b>作者：</b>{{ now_recbook.ISBN.author }}</p>
          <p><b>译者：</b>{{ now_recbook.ISBN.bookTranslator }}</p>
          <p><b>出版社：</b>{{ now_recbook.ISBN.press }}</p>
          <p><b>类别：</b>{{ now_recbook.ISBN.category }}</p>
          <p><b>价格：</b>{{ now_recbook.ISBN.price }}</p>
          <blockquote>
              <p><b>内容简介：</b>{{ now_recbook.ISBN.description }}</p>
          </blockquote>

          <a href="{%url 'search:bookDetail' now_recbook.ISBN.ISBN %}">
              <button class="btn btn btn-success" type="button" >查看详情</button>
          </a>

        </div>

        <div class="span12">
            <h4><b>推荐语：</h4>
            <p>{{ now_recbook.Rec_comment | safe }}</p><br/>
            <p align="left">推荐人：{{ now_recbook.promugator }}</p>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="divider"></div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;全部推荐</h3>

                {% for books in past_recbooks %}
                    <article class="blog-post">
                        <div class="tooltip-demo headline">
                            <h4><a onclick="location.href='/infoCenter/recBookHis/?pk={{books.pk}}&recID={{books.recID}}';">每周一书：《{{ books.bookName }}》</a></h4>
                        </div>
                        <div class="row">
                            <div class="span5">
                                <ul class="post-meta">
                                    <li class="first"><i class="icon-user"></i> <span>{{ books.promugator }}</span></li>
                                    <li><i class="icon-list-alt"></i> <span>{{ books.recTime }}</span></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </article>
                {% endfor %}

          <div class="pagination" align="center" >
              <nav>
                <ul>
                  <li>
                    {% if past_recbooks.has_previous %}
                        <a href="?page={{ past_recbooks.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span>{{ past_recbooks.number }}/{{ past_recbooks.paginator.num_pages }}</span>

                    {% if articles.has_next %}
                       <a class='active' href="?page={{ past_recbooks.next_page_number }}">下一页</a>
                    {% endif %}
                  </li>
                </ul>
              </nav>
          </div>

        </div>
      </div>
    </div>
</section>

  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">

      </div>
    </div>

    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy;五朵金花</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

{% endblock pagecontent %}
