<!DOCTYPE html>
<html lang="zh">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>推荐书目</title>

  <!-- Custom fonts for this template-->
  <link href="/static/mobankf/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/mobankf/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/mobankf/css/sb-admin.css" rel="stylesheet">

  <!--书目特有-->
    <link href="/static/mobankf/groupbook/css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">数字图书馆</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->


    <!-- Navbar -->


  </nav>

  <div id="wrapper">

    <!-- Sidebar -->


    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->



        <!-- 推荐书目 -->





                <!-- page heading start-->
                <div class="page-heading">
                    <h3>
                        推荐书目
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">读者参与</a>
                        </li>
                        <li>
                            <a href="#">图书推荐</a>
                        </li>
                        <li class="active">推荐书目</li>
                    </ul>
                </div>
                <!-- page heading end-->
                <div class="card-body" >
              <p>亲爱的读者：</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您在书店或是别的地方发现了一本好书，是您科研、教学或者学习所需要的，而我馆目前还没有收藏的话，请您将这本书的有关信息告诉我们，我们将根据经费情况进行订购。 外文及港台原版书籍，请通过以下方式推荐：</p>
              <p>Email: wuduojinhua@scu.edu.cn</p>
              <p>电话：028-85408797</p>
              <p>感谢您对图书馆工作的支持！</p>
          </div>




                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    人文社科外文图书目录
                                <span class="tools pull-right">
                                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                                    <a href="javascript:;" class="fa fa-times"></a>
                                 </span>
                                </header>
                                <div class="panel-body">
                                    <table class="table  table-hover general-table">
                                        <thead>
                                        <tr>
                                            <th> Company</th>


                                            <th>Status</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    2016-2018 OxfordUniversityPress人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    2016-2018 Cengage人文社科类书目
                                                </a>
                                            </td>
                                            <td><span class="label label-success label-mini">Paid</span></td>
                                        </tr>

                                        <tr>
                                            <td><a href="#">2016-2019 Brill人文社科书目</a></td>
                                            <td><span class="label label-info label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    2016-2019 DeGruyter人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-danger label-mini">Paid</span></td>
                                        </tr>

                                        <tr>
                                            <td><a href="#">2016-2019 Taylor&Francis人文社科书目</a></td>
                                            <td><span class="label label-primary label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    2017-2019 CambridgeUniversityPress人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    2017-2019 McGrawHill人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201801 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201802 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201805 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201809 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201810 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201811 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201812 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201903 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    201801 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini">Due</span></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="#">
                                                    20180708 教图人文社科书目
                                                </a>
                                            </td>
                                            <td><span class="label label-warning label-mini"><a href="#">Due</a></span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                            </section>
                        </div>











        <!--推荐书目结束-->

      <!-- /.container-fluid -->

      <!-- Sticky Footer -->


    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/mobankf/vendor/jquery/jquery.min.js"></script>
  <script src="/static/mobankf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/mobankf/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/static/mobankf/vendor/chart.js/Chart.min.js"></script>
  <script src="/static/mobankf/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/static/mobankf/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/mobankf/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="/static/mobankf/js/demo/datatables-demo.js"></script>
  <script src="/static/mobankf/js/demo/chart-area-demo.js"></script>


  <!--推荐书目特有-->
    <script src="/static/mobankf/groupbook/js/jquery-1.10.2.min.js"></script>
    <script src="/static/mobankf/groupbook/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/static/mobankf/groupbook/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/mobankf/groupbook/js/bootstrap.min.js"></script>
    <script src="/static/mobankf/groupbook/js/modernizr.min.js"></script>
    <script src="/static/mobankf/groupbook/js/jquery.nicescroll.js"></script>

    <!--common scripts for all pages-->
    <script src="/static/mobankf/groupbook/js/scripts.js"></script>
  <!--推荐书目end-->

</body>

</html>
