{% extends "service/serviceBase.html" %}

{% block breadrums %}
    <div class="container-fluid">
        <h2>栏目简介</h2>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'libBrief' %}">服务指南</a>
            </li>
            <li class="breadcrumb-item active">栏目简介</li>
        </ol>
    </div>
{% endblock breadrums %}

{% block pagecontent %}
    <div class="container">
        <div class="row" align="center">
            <div class="col-lg-9">
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="d-block img-fluid" src="http://placehold.it/1200x350" alt="First slide">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">馆情介绍</a>
                        </h4>
                        <h5>XX市XX路XX号</h5>
                        <p class="card-text">XX分馆位于XX地，面积16000平方米，馆藏以社会科学类和自然科学类为主，兼及部分工程技术类文献资料。其中中国古代史、中国古代文学、中国古文字学、汉语史、宗教学、四川地方文献、南亚研究、数学、生物学、经济学等学科领域的文献具有收藏优势；珍藏线装古籍30万册，其中包括宋、元刻本及唐代以来的各种稿本和抄本；收藏有大量的抗日战争时期出版的图书和建国前报刊。</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">图书馆历史</a>
                        </h4>
                        <h5>1949-至今</h5>
                        <p class="card-text">前身是创建于1896年的XX藏书楼，藏书历史可溯源到1704年建立的锦江书院和1874年建立的尊经书院。</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">馆长寄语</a>
                        </h4>
                        <h5>馆长XXX</h5>
                        <p class="card-text">习近平同志指出：“梦想从学习开始，事业从实践起步”。在图书馆浩瀚无际的知识海洋里，让我们“以学益智，以学修身”，“望近望远，力学力行”，共同“向历史、向人民交出新的更加优异”的“答卷” 来。</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.col-lg-9 -->
            </div>
            <!-- /.row -->
        </div>
        {% endblock pagecontent %}