{% extends "service/serviceBase.html" %}

{% block location %}信息中心>>服务指南>>搜索结果{% endblock location %}

{% block search %}
<form method="get" id="searchform" action="{% url 'service:serviceSearch' %}" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
     {% csrf_token %}
      <div class="input-group">
        <input type="search" name="q" placeholder="搜索服务指南" class="form-control" aria-label="Search" aria-describedby="basic-addon2" required>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">搜索服务
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
</form>
{% endblock search %}

{% block pagecontent %}
    <section id="maincontent">
    <div class="container">

        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}

    <div class="row">
        <div class="span12">
            {% for post in post_list %}
                <article class="blog-post">
                    <div class="tooltip-demo headline">
                        <h4><a onclick="location.href='/service/intro/?pk={{post.pk}}&serviceSlug={{post.serviceSlug}}';">{{ post.serviceTitle }}</a></h4>
                    </div>
                    <div class="clearfix"></div>
                    <img src="assets/img/dummies/blog1.jpg" alt="" />
                    <ul class="post-meta">
                        <li class="first"><i class="icon-user"></i> <span><a href="#">{{ post.serviceAuthor }}</a></span></li>
                        <li><i class="icon-list-alt"></i> <span><a href="#">{{ post.servicePubdate }}</a></span></li>
                        <li class="last"><i class="icon-tags"></i> <span><a href="#">{{ post.serviceCategory }}</a></span></li>
                    </ul>
                </article>
                {% empty %}
                <section id="maincontent">
                    <div class="container">
                      <div class="row">
                        <div class="span12">
                          <div class="error-wrapper">
                            <div class="error-body">
                              <h1 class="hidden-phone">404</h1>
                              <h3>对不起，没有您要查找的指南</h3>
                              <p>
                                换个关键词再试试吧！
                              </p>
                            </div>
                            <div class="error-footer">
                              <a href="{% url 'service:libBrief' %}" class="btn btn-inverse marginleft20">返回服务指南首页</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
{% endblock pagecontent %}

