{% extends "service/serviceBase.html" %}

{% block location %}信息中心>>服务指南>>{{ category.categoryName }}{% endblock location %}

{% block pagecontent %}
<div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          {% for intro in service_category_intros %}
            <li><a href="#svguide-{{ intro.pk }}"><i class="icon-chevron-right"></i> {{ intro.serviceTitle }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="span9">


        <!-- Download
        ================================================== -->

        {% for intro in service_category_intros %}
        <section id="svguide-{{ intro.pk }}" class="doc">
          <div class="page-header">
            <h3>{{ intro.serviceTitle }}</h3>
          </div>
          <p>{{ intro.serviceContent|safe }}</p>
        </section>
        {% endfor %}


      </div>
    </div>

  </div>
{% endblock pagecontent %}

