{% extends "service/serviceBase.html" %}

{% block location %}信息中心>>服务指南>>指南详情{% endblock location %}

{% block pagecontent %}
<section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <h4 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;全部指南</h4>
              <img src="assets/img/avatar.png" class="alignleft" alt="" /><br/>
              {% for category in side_cotegories %}
                <h5 align="center"><a href="{{ category.get_absolute_url }}">{{ category.categoryName }}</a></h5>
              {% endfor %}
            </div>
          </aside>
        </div>

      <div class="span8">
        <!-- start article 1 -->
        <article class="blog-post">
          <div class="tooltip-demo headline">
              <h4><a href="{{ intro.get_absolute_url }}">{{ intro.serviceTitle }}</a></h4>
          </div>
          <div class="row">
            <div class="span5">
                <ul class="post-meta">
                  <li class="first"><i class="icon-user"></i> <span>{{ intro.serviceAuthor }}</span></li>
                  <li><i class="icon-list-alt"></i> <span>{{ intro.servicePubdate }}</span></li>
                  <li class="last"><i class="icon-tags"></i> <span>{{ intro.serviceCategory.categoryName }}</span></li>
                </ul>
              <div class="clearfix"></div>
                <p>{{ intro.serviceContent|safe }}</p>
            </div>
          </div>
        </article>
      </div>
      </div>
    </div>
</section>
{% endblock pagecontent %}

