{% extends "service/serviceBase.html" %}

{% block breadrums %}
    <div class="container-fluid">
        <h2>栏目简介</h2>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/service/libBrief">服务指南</a>
            </li>
            <li class="breadcrumb-item active">{{ category.categoryName }}</li>
        </ol>
    </div>
{% endblock breadrums %}

{% block pagecontent %}
    <hr>
    {% for intro in service_category_intros %}
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                {{ intro.servicePubdate }}
            </div>
            <div class="card-body">
                <h5 class="news-title"><a href="{{ intro.get_absolute_url }}">{{ intro.serviceTitle }}</a></h5>
            </div>
        </div>
    {% endfor %}
{% endblock pagecontent %}

