{% extends "service/serviceBase.html" %}

{% block search %}
<form method="get" id="searchform" action="{% url 'serviceSearch' %}" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
     {% csrf_token %}
      <div class="input-group">
        <input type="search" name="q" placeholder="搜索服务指南" class="form-control" aria-label="Search" aria-describedby="basic-addon2" required>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">搜索服务
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
</form>
{% endblock search %}

{% block breadrums %}
    <h2 align = "center">{{ intro.serviceTitle  }}</h2>
    <p align = "center" class = "one gray">发表时间：<em>{{ intro.servicePubdate }}</em>&nbsp;&nbsp;&nbsp;&nbsp;作者：<em>{{ intro.serviceAuthor }}</em></p>
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/service/libBrief">服务指南</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ intro.serviceCategory.get_absolute_url }}">{{ intro.serviceCategory.categoryName }}</a>
            <li class="breadcrumb-item active">详情</li>
        </ol>
    </div>
{% endblock breadrums %}

{% block pagecontent %}
    <hr/>
    <div id="main">
        <p>
            {{ intro.serviceContent|safe }}
        </p>
    </div>
{% endblock pagecontent %}

