{% extends 'login/base_test.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<!--轮换栏-->
  <section id="intro">
    <div class="jumbotron masthead">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="camera_wrap camera_black_skin" id="camera_wrap_2">
              <!--点击轮换栏应进入对应的新闻界面 目前图片来源为四川省图书馆官网-->
              <div data-thumb="/media/backgrounds/searchindex_backgroud.jpg" data-src="/media/backgrounds/searchindex_backgroud.jpg">
                <div class="camera_caption fadeFromBottom">
                  <h2>图书馆重要宣传信息</h2>
                  <div class="hidden-phone">
                    <p>

                    </p>
                  </div>
                </div>
              </div>
              
              <div data-thumb="/media/backgrounds/searchindex_backgroud-1.jpg" data-src="/media/backgrounds/searchindex_backgroud-1.jpg">
                <div class="camera_caption fadeFromBottom">
                  <h2>成都市图书馆</h2>
                  <div class="hidden-phone">
                    <p>
                      <!--{{var}}图书推荐语-->
                    </p>
                  </div>
                </div>
              </div>

              <div data-thumb="/media/backgrounds/searchindex_backgroud-2.jpg" data-src="/media/backgrounds/searchindex_backgroud-2.jpg">
                <div class="camera_caption fadeFromBottom">
                  <h2>四川大学</h2>
                  <div class="hidden-phone">
                    <p>
                      <!--{{var}}图书推荐语-->
                    </p>
                  </div>
                </div>
              </div>

              <div data-thumb="/media/backgrounds/searchindex_backgroud-1.jpg" data-src="/media/backgrounds/searchindex_backgroud-1.jpg">
                <div class="camera_caption fadeFromBottom">
                  <h2>四川大学</h2>
                  <div class="hidden-phone">
                    <p>
                       <!--{{var}}图书推荐语-->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- #camera_wrap_1 -->

          </div>
        </div>
      </div>
    </div>
  </section>

  <!--在此处渲染搜索框-->
    <!--
   <div class="container myContainer">
        <form action="{%url 'search:searchBook'%}" method="GET">
            <div class="row col-lg-7 col-lg-offset-3" name="radio-father">
                {% for radio in searchForm.search_by %}
                    <div class="radio-inline">
                        {{ radio }}
                    </div>
                {% endfor %}
            </div>
            <div class="row col-lg-7 col-lg-offset-3">
                <div class="input-group">
                    {{ searchForm.keyword }}
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg btn-info" type="submit">图书检索</button>
                    </span>
                </div>
            </div>
        </form>
    </div>  -->




  <section id="maincontent">
    <div class="container">

      <div class="row">

        <div class="span3">
          <h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;读者核心</h3>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本数字图书馆面向广大市民朋友们与图书馆工作人员，提供书籍检索、读者服务。点击尝试！</p>
        </div>

       <div class="span3">
           <a href="{%url 'search:searchindex'%}"><div class="well well-primary box">
            <img src="{%static 'assets/img/icons/box-1-white.png'%}" alt="" />
            <h3>图书检索</h3>
            <p>检索馆藏图书&检索电子图书</p>
          </div> </a>
        </div>

        <div class="span3">

           <a href="{%url 'readerService:borrowTips'%}"><div class="well well-success box">
            <img src="{%static 'assets/img/icons/box-2-white.png'%}" alt="" />
            <h3>借阅服务</h3>
            <p>借阅与预约图书说明 </p>

           </div></a>
          </div>

        <div class="span3">
          <a href="{% url 'participate:article_list' %}"><div class="well well-warning box">
            <img src="{%static 'assets/img/icons/box-3-white.png'%}" alt="" />
            <h3>在线论坛</h3>
            <p>
                提供交流、建议的平台
            </p>
          </div>
          </a></div>

      </div>
          


      </div>

  </section>

  <section id="maincontent">
    <div class="container">

      <div class="row">

        <div class="span3">
          <h3 class="heading-success"><a href="{% url 'newsIntro' %}"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;新闻资讯</a></h3>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注图书馆新闻资讯，了解图书上新、馆内活动等一切你想知道的信息！</p>
        </div>
        {%for newsColum in indexnews_queryset%}
            {% for item in newsColum %}
              <div class="span3">
                 <table class="table table-condensed">
                    <caption>{{item.newsColumn.columnName}}</caption>
                    <thead>
                      <tr>
                        <th>标题</th>
                        <th>日期</th>
                        <th><a href="{% url 'newsIntro' %}">更多</a></th></tr>
                    </thead>
                    <tbody>
                <!--张丽：这里的url怎么跳转的和玉和商量一下呢-->
                      <tr>
                        <td><a href="{{ item.get_absolute_url }}">{{item.newsTitle}}</a></td>
                        <td>{{item.newsPubdate}}</td></tr>
                    </tbody>
                  </table>
              </div>
            {%endfor%}
        {%endfor%}
      </div>

    </div>
  </section>


  <section id="bottom">
    <div class="container">

      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="divider"></div>
        </div>
      </div>
      <!-- end divider -->

      <!--每周一书-往期书籍-->
      <div class="row">
        <div class="span12">
          <h3><a class="btn btn-large btn-success" href="#"><i class="m-icon-big-swapdown m-icon-white"></i></a> 每周推荐</h3>
          <div id="latest-work" class="carousel btleft">
            <div class="carousel-wrapper">

              <ul class="portfolio-home da-thumbs">
                <li>
                  <div class="thumbnail">
                    <div class="image-wrapp">
                      <img src="{%static 'assets/img/dummies/work1.jpg'%}" alt="Portfolio name" title="" />
                      <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="link_post" href="portfolio-detail.html"><img src="{%static 'assets/img/icons/link_post_icon.png'%}" alt="" /></a>
                        <span><a class="zoom" data-pretty="prettyPhoto" href="{%static 'assets/img/dummies/big1.jpg'%}"><img src="{%static 'assets/img/icons/zoom_icon.png'%}" alt="Portfolio name" title="Portfolio name" /></a></span>
                      </article>
                    </div>
                    <div class="caption">
                      <h5>Portfolio name</h5>
                    </div>

                  </div>
                </li>
                <li>
                  <div class="thumbnail">
                    <div class="image-wrapp">
                      <img src="{%static 'assets/img/dummies/work2.jpg'%}" alt="Portfolio name" title="" />
                      <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="link_post" href="portfolio-detail.html"><img src="{%static 'assets/img/icons/link_post_icon.png'%}" alt="" /></a>
                        <span><a class="zoom" data-pretty="prettyPhoto" href="{%static 'assets/img/dummies/big1.jpg'%}"><img src="{%static 'assets/img/icons/zoom_icon.png'%}" alt="Portfolio name" title="Portfolio name" /></a></span>
                      </article>
                    </div>
                    <div class="caption">
                      <h5>Portfolio name</h5>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="thumbnail">
                    <div class="image-wrapp">
                      <img src="{%static 'assets/img/dummies/work3.jpg'%}" alt="Portfolio name" title="" />
                      <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="link_post" href="portfolio-detail.html"><img src="{%static 'assets/img/icons/link_post_icon.png'%}" alt="" /></a>
                        <span><a class="zoom" data-pretty="prettyPhoto" href="{%static 'assets/img/dummies/big1.jpg'%}"><img src="{%static 'assets/img/icons/zoom_icon.png'%}" alt="Portfolio name" title="Portfolio name" /></a></span>
                      </article>
                    </div>
                    <div class="caption">
                      <h5>Portfolio name</h5>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="thumbnail">
                    <div class="image-wrapp">
                      <img src="{%static 'assets/img/dummies/work4.jpg'%}" alt="Portfolio name" title="" />
                      <article class="da-animate da-slideFromRight" style="display: block;">
                        <a class="link_post" href="portfolio-detail.html"><img src="{%static 'assets/img/icons/link_post_icon.png'%}" alt="" /></a>
                        <span><a class="zoom" data-pretty="prettyPhoto" href="{%static 'assets/img/dummies/big1.jpg'%}"><img src="{%static 'assets/img/icons/zoom_icon.png'%}" alt="Portfolio name" title="Portfolio name" /></a></span>
                      </article>
                    </div>
                    <div class="caption">
                      <h5>Portfolio name</h5>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">

      </div>
    </div>  

    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy;五朵金花</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

{% endblock %}