{% extends "librarian/pers_base_ver1.html" %}
{% load staticfiles %}
{% block title %}修改个人信息{% endblock %}

{%block perscontent%}
<style>
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 5px;
    width: 221px;
    height:30px;
}
</style>
 <div id="content-wrapper">

      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

                {% if message %}
                    <div class="alert alert-success text-center">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {% if message == 'success' %}
                            <h2><a href="{%url 'readerCenter:profile'%}">修改成功,点击返回个人中心页面</a></h2>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="card mb-3">
                    <div class="card-header">
                    <i></i>
                    修改图书信息</div>
                    <div class="card-body">
                        <form  role="form" class="form-horizontal" method="post" action="change_book_to_database?id={{book.id}}">
                            {% csrf_token %}
                            <!--<h1 class="form-signin-heading text-center">修改个人信息</h1> -->

                            {% for field in userprofile_form %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ field.label }}</label>
                                    <div class="col-md-9">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4">
                                    <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                                </div>
                            </div>
                        </form>

                    </div>

              </div>

            </div>

        </div>
    </div>
   </div>



{% endblock perscontent %}
