{% extends "librarian/pers_base_ver1.html" %}
{% load staticfiles %}
{% block title %}修改个人信息{% endblock %}

{%block perscontent%}
  <div class="col-md-10">


              <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default bootstrap-admin-no-table-panel">
                            <div class="panel-heading">
                                <div class="text-muted bootstrap-admin-box-title">读者管理</div>
                            </div>
                            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                                <form class="form-horizontal" action="/books/selectServlet" method="post">

                                    <div class="col-lg-3 form-group">

                                        <button type="button" class="btn btn-primary" onclick="location.href= 'add_user_to_database' ">添加读者</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <table id="data_list" class="table table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>余额</th>
                                <th>可借数量</th>
                                 <th>邮箱地址</th>
                                 <th>性别</th>
                                <th>操作</th>

                            </tr>
                            </thead>
							<tbody>
							{% for reader in readers %}
								<tr>
									<td>{{ reader.name }}</td>
									<td>{{ reader.Password }}</td>
									<td>{{ reader.balance }}</td>
									<td>{{ reader.max_borrowing }}</td>
									<td>{{ reader.email }}</td>
									<td>{{ reader.Sex }}</td>
									<td><button    type="button" class="btn btn-warning btn-xs"  onclick="location.href= 'change_user_to_database?person_info_ptr_id={{reader.person_info_ptr_id}}' ">修改</button>
<button type="button" class="btn btn-danger btn-xs" onclick="deleteuser('{{reader.email}}')">删除</button>
	</td>
								</tr>
                            {% empty %}
                                <tr>
                                <td>暂无用户</td>
								</tr>
                            {% endfor %}

                          	  </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>


    <script type="text/javascript">
    function showInfo2(username,password,readertypeNumber,booknumber,email,sex) {
        document.getElementById("updateusername").value = 'username';
        document.getElementById("updateemail").value = email;
        document.getElementById("updatesex").value = sex;
        document.getElementById("updatepassword").value = password;
        document.getElementById("updatebooknumber").value = booknumber;
        document.getElementById("updatereadertypeNumber").value = readertypeNumber;
    }
    function deleteuser(email) {
    	con=confirm("是否删除?");
    	if(con==true){
    		location.href = "delete_user?email="+email;
    	}
    }
    function changeuser(userName) {
    		location.href = "/change_user_to_database?userName="+userName;
    	}
    </script>



{% endblock perscontent %}








