{% extends "librarian/pers_base_ver1.html" %}
{% load staticfiles %}
{% block title %}修改个人信息{% endblock %}

{%block perscontent%}
  <div class="col-md-10">


              <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default bootstrap-admin-no-table-panel">
                            <div class="panel-heading">
                                <div class="text-muted bootstrap-admin-box-title">查询</div>
                            </div>
                            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                                <form class="form-horizontal" action="/books/selectServlet" method="post">
                                <input type="hidden" name="tip" value="1">
                        			<div class="col-lg-7 form-group">
                                        <label class="col-lg-4 control-label" for="query_bname">图书名称</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" id="bookName" name="name" type="text" value="">
                                            <label class="control-label" for="query_bname" style="display: none;"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">

                                        <button type="submit" class="btn btn-primary" id="btn_query" onclick="">查询</button>
                                    </div>
                                    <div class="col-lg-3 form-group">

                                        <button type="button" class="btn btn-primary" onclick="location.href= 'add_ebook_to_database' ">添加电子图书</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <table id="data_list" class="table table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>书名</th>
                                <th>作者</th>
                                <th>译者</th>
                                 <th>出版社</th>
                                <th>图书入库时间</th>
                                <th>电子图书资源内容的存储地址</th>
								<th>操作</th>

                            </tr>
                            </thead>

								{% for ebook in ebooks %}
								<tr>
									<td>{{ ebook.ebookName }}</td>
									<td>{{ ebook.ebookAuthor }}</td>
									<td>{{ ebook.ebookTranslator }}</td>
									<td>{{ ebook.ebookPress }}</td>
									<td>{{ ebook.ebookIntime}}</td>
									<td>{{ ebook.ebookResource}}</td>
									<td><button    type="button" class="btn btn-warning btn-xs"  onclick="location.href= 'change_ebook_to_database?ebookID={{ebook.ebookID}}' ">修改</button>
<button type="button" class="btn btn-danger btn-xs" onclick="deleteebook('{{ebook.ebookID}}')">删除</button>
	</td>
								</tr>
                            {% empty %}
                                <tr>
                                <td>暂无图书</td>
								</tr>
                            {% endfor %}
                          	  </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <script type="text/javascript">
    function showInfo2(bid,card,type,name,autho,press,num) {
        document.getElementById("updateISBN").value = card;
        document.getElementById("updateBookName").value = name;
        document.getElementById("updateAutho").value = autho;
        document.getElementById("updatePress").value = press;
        document.getElementById("updateBookType").value = type;
        document.getElementById("updateNum").value = num;
        document.getElementById("updateBookId").value = bid;
    }
    function deleteebook(bid) {
    	con=confirm("是否删除?");
    	if(con==true){
    		location.href = "change_ebook_to_database?ebookID="+bid;
    	}
    }
    </script>



{% endblock perscontent %}






