
{% extends "librarian/pers_base_ver1.html" %}
{% load staticfiles %}
{% block title %}修改个人信息{% endblock %}

{%block perscontent%}
  <div class="col-md-10">


              <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default bootstrap-admin-no-table-panel">
                            <div class="panel-heading">
                                <div class="text-muted bootstrap-admin-box-title">图书预约信息</div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <table id="data_list" class="table table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>读者号</th>
                                <th>图书名称</th>
                                <th>图书编号</th>
                                <th>预约时间</th>
                                <th>取书地点</th>

                            </tr>
                            </thead>
                            <tbody>
							{% for reser in resers %}
								<tr>
									<td>{{ reser.readerId }}</td>
									<td>{{ reser.book }}</td>
									<td>{{ reser.bookId }}</td>
									<td>{{ reser.returnTime }}</td>
									<td>{{ reser.place }}</td>
								</tr>
                            {% empty %}
                                <tr>
                                <td>暂无预约</td>
								</tr>
                            {% endfor %}

                            <!---在此插入信息-->

                        </table>
                    </div>
                </div>
        </div>
    </div>



{% endblock perscontent %}







