{% extends "librarian/pers_base_ver1.html" %}
{% load staticfiles %}
{% block title %}修改个人信息{% endblock %}

{%block perscontent%}
  <div class="col-md-10">


              <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default bootstrap-admin-no-table-panel">
                            <div class="panel-heading">
                                <div class="text-muted bootstrap-admin-box-title">图书借阅信息</div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <table id="data_list" class="table table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>读者</th>
                                <th>图书ISBN</th>
                                <th>借书时间</th>
                                <th>应还时间</th>
                                <th>欠款</th>
                                <th>操作</th>

                            </tr>
                            </thead>


                            <!---在此插入信息-->
<tbody>
                     {% for borrow in borrows %}
								<tr>
									<td>{{ borrow.reader }}</td>
									<td>{{ borrow.ISBN }}</td>
									<td>{{ borrow.date_issued }}</td>
									<td>{{ borrow.date_due_to_returned }}</td>
									<td>{{ borrow.amount_of_fine }}</td>
									<td><button type="button" class="btn btn-warning btn-xs"  onclick="location.href= 'delete_borrowing_to_database?id={{borrow.id}}' ">还书</button>

	</td>
								</tr>
                            {% empty %}
                                <tr>
                                <td>暂无借阅</td>
								</tr>
                            {% endfor %}
                          	  </tbody>


                        </table>
                    </div>
                </div>
        </div>
    </div>
    <script type="text/javascript">
    function haibook(hid) {
    	con=confirm("是否还书?");
    	if(con==true){
    		location.href = "/books/borrowServlet?tip=2&show=2&hid="+hid;
    	}
    }
    </script>




{% endblock perscontent %}




